.contacts {
  float: left;
  width: 50%;
  height: 300px;
  text-align: left;
}

.contacts-line {
  text-align: left;
  width: 50%;
}

.languages {
  float: left;
  width: 50%;
  height: 300px;
  text-align: left;
}

.skills {
  float: left;
  width: 50%;
  height: 300px;
  text-align: left;
}

.hobbies {
  float: right;
  width: 50%;
  height: 300px;
  text-align: left;
}

.contacts-language {
  padding-bottom: 0.5%;
  height: 300px;
}

.skills-hobbies {
  padding-bottom: 0.5%;
  height: 300px;
}

.list {
  text-align: left;
  width: 30%;
  padding-left: 2.70%;
}

@media (max-width: 850px) {
  .about-me {
    text-align: center;
  }

  .contacts {
    text-align: center;
  }

  .languages,
  .skills,
  .hobbies {
    text-align: center;
  }

  .contacts,
  .contacts-line,
  .languages,
  .skills,
  .hobbies,
  .contacts-language,
  .skills-hobbies,
  .list {
    float: none;
    width: auto;
    height: auto;
    margin: none;
  }
  
  .contacts-line {
    width: 100%;
    padding-left: 34.60%;
  }

  .list {
    padding-left: 36.60%;
  }

  .tel {
    padding-right: 70%;
  }

  .mail,
  .tel,
  .skype {
    float: left;
  }
}

@media (max-width: 500px) {
  .contacts,
  .contacts-line,
  .languages,
  .skills,
  .hobbies,
  .contacts-language,
  .skills-hobbies,
  .list {
    float: none;
    width: auto;
    height: auto;
    margin: none;
  }

  .contacts-line {
    width: 100%;
    padding-left: 28.60%;
  }

  .list {
    padding-left: 32.60%;
  }

  .tel {
    padding-right: 50%;
  }

  .mail,
  .tel,
  .skype {
    float: left;
  }
}
